body{
  padding: 0;
  margin: 0;
  background: url("../../assets/img/bg.jpg") no-repeat;
  background-size: cover;
}
.box{
  width: 450px;
  background: rgba(0,0,0,0.4);
  padding: 40px;
  text-align: center;
  margin: auto;
  margin-top: 5%;
  margin-bottom: 5%;
  color: white;
  font-family: 'Century Gothic',sans-serif;
}
.box-img{
  border-radius: 50%;
  width: 200px;
  height: 200px;
}
.box h1{
  font-size: 40px;
  letter-spacing: 4px;
  font-weight: 100;
}
.box h5{
  font-size: 20px;
  letter-spacing: 3px;
  font-weight: 100;
}
.box p{
  text-align: justify;
}

//Social Button

.middle{
  position: absolute;
  top: 90%;
  transform: translateY(-50%);
  width: 100%;
  text-align: center;
}
.btn{
  display: inline-block;
  width: 90px;
  height: 90px;
  background: #f1f1f1;
  margin: 10px;
  border-radius: 30%;
  box-shadow: 0 5px 15px -5px #00000070;
  color: #3498db;
  overflow: hidden;
  position: relative;
}
.btn i{
  line-height: 90px;
  font-size: 26px;
  transition: 0.2s linear;
}
.btn:hover i{
  transform: scale(1.3);
  color: #f1f1f1;
}
.btn::before{
  content: "";
  position: absolute;
  width: 120%;
  height: 120%;
  background: #3498db;
  transform: rotate(45deg);
  left: -110%;
  top: 90%;
}
.btn:hover::before{
  animation: aaa 0.7s 1;
  top: -10%;
  left: -10%;
}
@keyframes aaa {
  0%{
    left: -110%;
    top: 90%;
  }50%{
    left: 10%;
    top: -30%;
  }100%{
    top: -10%;
    left: -10%;
  }
}

/*Arrow Movement*/
.ball {
  position: absolute;
  transform: translateX(-50%) translateY(-50%);
  border-radius: 50%;
}

.face {
  position: absolute;
  z-index: -1;
  width: 40px;
  height: 40px;
  background: RGBA(255, 255, 255, 0.5);
  border-radius: 50%;
  transform: translateX(-50%) translateY(-50%);
}
.face .eye {
  width: 5px;
  height: 5px;
  background: RGBA(0, 0, 0, 0.5);
  position: absolute;
  top: 40%;
}
.face .eye.right {
  right: 20%;
}
.face .eye.left {
  right: 60%;
}
.face .mouth {
  position: absolute;
  width: 10%;
  height: 2px;
  background: RGBA(0, 0, 0, 0.5);
  top: 70%;
  left: 50%;
}

.smoke {
  position: absolute;
  transform: translateX(-50%) translateY(-50%);
  background: white;
  border-radius: 50%;
  z-index: 100;
}




